<footer>
    <div class="img">
        <h3>SM<span>telkom</span></h3>
        <p>SMtelkom@gmail.com</p>
        <p>+62 85317360105</p>
    </div>
    <div class="a">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Join Us</a>
        <div class="icon">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>

</footer>
<script src="https://kit.fontawesome.com/8c8e800635.js" crossorigin="anonymous"></script>