<center>
    <div class="container">
        <div class="content">
            <img src="gambar.png" alt="foto profile">
            <h1>Sabilah</h1>
            <p>Lorem ipsum dolor sit amet consectetur <br> elit. Quaerat quo facere nisi ea hic fugit, doloremque<br>
                aut
                quia praesentium culpa doloribus quod quam <br> inventore, delectus, iure obcaecati. Rem, delectus!
            </p>    
        </div>
    
        <div class="about"> 
            <div class="title">
                <h3>About me</h3>
            </div>
            
            <div class="p">
                <p>Lorem ipsum dolor sit amet consectetur <br> elit. Quaerat quo facere nisi ea hic fugit,<br>
                    doloremque aut quia praesentium culpa doloribus quod quam <br> inventore, delectus, iure obcaecati.
                    Rem, delectus!
                </p>
            </div>
        </div>
        
    </div>
</center>