<div class="container">
    <div class="heroSection">
        <div class="text">
            <h1>Welcome to Website</h1>
            <h2 style="font-size: 30px;">SM<span>telkom</span></h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, <br>porro facere? Excepturi
                voluptates
                corrupti vitae ullam repellat earum facilis, <br> aperiam officia eaque, corporis voluptas laboriosam
                incidunt? <br>Minima, corporis neque.
            </p>
        </div>
        <div class="img">
            <img src="pesan.webp" alt="gambar">
        </div>
    </div>
</div>
<br>
<div class="informasi">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit,
        Ipsam cum odit laboriosam ex <br> quasi ad dicta eos ea. Exercitationem,
        eum!<br>Officia tenetur distinctio quos ullam earum minus nihil quae sint.
    </p>
    <br>
    <button>Learn more</button>
</div>




